body{
    background: #ecf0f1;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav{
    width: auto;
    line-height: 129px;
    font-family: 'Raleway', sans-serif;
    background-color: #feca57;
    height: 129px;
    
    
}

.logo{
    font-family: 'Bungee Shade', cursive;
    font-size: 22px;
    color:white;
}
a{
    color:white;
}

main{
width: 100%;
}
/*nav bar block*/
.col-1-7{
    text-align: center;
    width: 14.28%;
    float:left;
    background-color: #a5b1c2;
    height: 129px;

}
nav:after {
    content: "";
    display: table;
    clear: both;
  }
main{
    text-align: center;
}

.text{
    position: absolute;
top: 200px;
width: 421px;
z-index: 1;
background: white;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
font-family: 'Raleway', sans-serif;
font-weight: 900;
font-size: 30px;
}
.featured{
    text-align: center;
}

.insidetext { 
background: white;
font-family: 'Raleway', sans-serif;
margin-top:50%;
margin-bottom: 50%;
font-weight: 300;
color:gray;

}
.image{
    width: 303px;
    height:186px;
    background: gray;
    margin-left: auto;
    margin-right: auto;
}
.col-1-2{
    text-align: center;
    width: 50%;
    float:left;
    background:#d1d8e0;
    height: 643px;
    text-align: center;
    
}
.right{
    background: #f7f1e3;
}

/*pictures*/
.col-1-2 .person {
    position: relative;
}
.col-1-2 .person img{
    position: absolute;
    right: 0;
    bottom: 0;
    width:100%;
    height: 64px;
    border: 5px solid #e67e22;
    border-radius: 8px;
    -webkit-transform: rotate(355deg);
    transform: rotate(354deg);
}
.col-1-2 .person img:hover{
    transform: rotate(0deg);
}
.featured:after {
    content: "";
    display: table;
    clear: both;
  }
  .col-1-3 a{
    color:black;
}
  .col-1-3{
    
    width: 33.33%;
    float:left;
    background:white;
    height: 558px;
    padding: 30px 40px;
    text-align: left;
    
    
}
.col-1-3 p{
    line-height: 35px;
    font-size: 18px;
}
.col-1-3 h1{
    font-family: 'Bungee Shade', cursive;
}


.time{
    font-family: 'Raleway', sans-serif;
font-weight: 100;
font-size: 11px;
text-align: left;
line-height: 1px;
}

.signature{
    font-family: 'Raleway',serif;
font-weight: 400;
font-size: 13px;
text-align: left;
line-height: 1px;
}


.latest:after {
    content: "";
    display: table;
    clear: both;
  }

  /*================================

            big block on the right
===================================*/
  .col-2-3{
    width: 66.66%;
    float:left;
    height: 660px;
    border-radius: 20px;
    text-align: center;
    background: #353b48;
    
}


.members{
    background-color: white;
}
/* toy biz picture and bell boxes*/
.col-2-3 .image {
    width: 25%;
    height: 183px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
}
.col-2-3 .image img{
    width: 70%;
    height: 183px;
}
.members:after {
    content: "";
    display: table;
    clear: both;
  }

  .members .col-1-3 .image{
      background-color: #7f8fa6;
      border-radius: 10px;
  }
  .seemore{
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
    background-color: #ecf0f1;
}
.seemore1{
    width: 100%;
    height: 300px;
    text-align: center;
    
}

.more-articles:after {
    content: "";
    display: table;
    clear: both;
  }
  .comunity:after {
    content: "";
    display: table;
    clear: both;
  }
  .upcoming{
    width: 100%;
    height: 600px;
    background: rgb(68, 68, 68);
    text-align: center;
    line-height: 600px;
    color: white;
}

footer{
    background: rgb(68, 68, 68);
    height: 300px;
    text-align: center;
    vertical-align: middle;
}
footer li{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: white;
    
}
footer ul{
    list-style-type: square;
    margin-top:200px;
}

li{
    text-align: justify;
}
.personweek{
    width: 100px;
    height: 100px;
    background: #778ca3;
    line-height: 300px;
    float:left;
    margin-left: 200px;
    margin-top:50px;
    border-radius: 10px;
}

.person{
    width: 10%;
    height: 10%;
    background: white;
    line-height: 300px;
    float:left;
    margin-left: 50px;
    margin-top:50px;
   
}

.seemore1 p{
    width: 60%;
    height: 150px;
    float: right;
    margin: 40px 100px 20px 20px;
    font-size: 24px;
    text-align: left;
    line-height: 30px;
    padding-right: 40px;
}
.text-person{
    float:left;
    margin-left: 50px;
    margin-top:50px;
    width: 60%;
}
.tags{
    line-height:100px;
    vertical-align: bottom;
}
.bottom{
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
}