body{
    background: gray;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
navbar{
    width: auto;
    line-height: 129px;
    font-family: 'Raleway', sans-serif;
}

.logo{
    font-family: 'Bungee Shade', cursive;
    font-size: 22px;
    color:white;
}
a{
    color:white;
}

main{
width: 100%;
}
.col-1-7{
    text-align: center;
width: 14.28%;
float:left;
background:rgb(68, 68, 68);
height: 129px;

}
navbar:after {
    content: "";
    display: table;
    clear: both;
  }
main{
    text-align: center;
}

.text{
    position: absolute;
top: 200px;
width: 421px;
z-index: 1;
background: white;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
font-family: 'Raleway', sans-serif;
font-weight: 900;
font-size: 30px;
}
.featured{
    text-align: center;
}

.insidetext { 
background: white;
font-family: 'Raleway', sans-serif;
margin-top:50%;
margin-bottom: 50%;
font-weight: 300;

}
.image{
    width: 303px;
    height:186px;
    background: gray;
}
.col-1-2{
    text-align: center;
    width: 50%;
    float:left;
    background:rgb(32,32,32);
    height: 643px;
    text-align: center;
    
}
.right{
    background: rgb(96,96,96);
}
.featured:after {
    content: "";
    display: table;
    clear: both;
  }
  .col-1-3 a{
    color:black;
}
  .col-1-3{
    text-align: center;
    width: 33.33%;
    float:left;
    background:white;
    height: 407px;
    
}

.col-1-3 h1{
    font-family: 'Bungee Shade', cursive;
}


.time{
    font-family: 'Raleway', sans-serif;
font-weight: 100;
font-size: 11px;
text-align: left;
line-height: 1px;
}

.signature{
    font-family: 'Raleway', sans-serif;
font-weight: 300;
font-size: 11px;
text-align: left;
line-height: 1px;
}


.latest:after {
    content: "";
    display: table;
    clear: both;
  }

  .col-2-3{
    text-align: center;
    width: 66.66%;
    float:left;
    background:black;
    height: 407px;
    
}
.members:after {
    content: "";
    display: table;
    clear: both;
  }
  .seemore{
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
}
.seemore1{
    width: 100%;
    height: 300px;
    text-align: center;
    
}

.more-articles:after {
    content: "";
    display: table;
    clear: both;
  }
  .comunity:after {
    content: "";
    display: table;
    clear: both;
  }
  .upcoming{
    width: 100%;
    height: 600px;
    background: black;
    text-align: center;
    line-height: 600px;
    color: white;
}

footer{
    background: rgb(68, 68, 68);
    height: 500px;
}

.personweek{
    width: 100px;
    height: 100px;
    background: white;
    line-height: 300px;
    float:left;
    margin-left: 200px;
    margin-top:50px;
}

.person{
    width: 10%;
    height: 10%;
    background: white;
    line-height: 300px;
    float:left;
    margin-left: 50px;
    margin-top:50px;
}

.text-person{
    float:left;
    margin-left: 50px;
    margin-top:50px;
    width: 60%;
}