body{
    background: gray;
}
navbar{
    width: auto;
    line-height: 129px;
}



.col-1-7{
    text-align: center;
width: 14.28%;
float:left;
background:rgb(68, 68, 68);
height: 129px;

}
navbar:after {
    content: "";
    display: table;
    clear: both;
  }
  